html, body {
    background-color: #333;
}

h1, #mainText {
    color: #fff;
}

#homeText, #instructors, #about {
    padding: 10vh 0;
}

#about {
    background-color: #f8f9fa;
}

footer{
    background-color: #f8f9fa;
}
